table.advgb-table-frontend {
    border-collapse: separate;
    border-spacing: 0;
    margin: 0 0 1em;
    width: 100%;
    max-width: 100%;
}

table.advgb-table-frontend td, table.advgb-table-frontend tr {
    border: 1px solid transparent;
    padding: .5em;
}