.components-panel__body.is-opened > .components-panel__body {
    margin-left: -6px;
}
.editor-block-list__block[data-type="advgb/button"][data-align=center] {
    text-align: center;
}
span.wp-block-advgb-button[data-is-placeholder-visible=true] {
    margin-top: -3px;
}
.wp-block-advgb-button.aligncenter {
    text-align: center;
}

.wp-block-advgb-button_link {
    display: inline-block;
}