@mixin buttonAdmin() {
    .pp-default-button {
      border-color: $purple;
      color: $purple;
      border-width: 1px;

      &:focus {
        color: $purple-hover;
        border-color: $purple-hover;
        box-shadow: 0 0 0 1px $purple-hover;
        -moz-box-shadow: 0 0 0 1px $purple-hover;
        -webkit-box-shadow: 0 0 0 1px $purple-hover;
      }

      &:hover,
      &:active {
        color: $purple-hover;
        border-color: $purple-hover;
      }
    }

    .pp-primary-button {
      background: $purple;
      color: #fff;
      border-color: $purple;
      border-width: 1px;

      &:focus {
        background: $purple-hover;
        color: #fff;
        border-color: $purple-hover;
        box-shadow: 0 0 0 1px #fff, 0 0 0 3px $purple-hover;
      }

      &:hover,
      &:active {
        background: $purple-hover;
        color: #fff;
        border-color: $purple-hover;
      }
    }

    .pp-pro-button {
      background: $purple;
      color: $darker;
      border-color: $purple;
      border-width: 1px;

      &:focus {
        background: $purple-hover;
        color: $darker;
        border-color: $purple-hover;
        box-shadow: 0 0 0 1px #fff, 0 0 0 3px $purple-hover;
        -moz-box-shadow: 0 0 0 1px #fff, 0 0 0 3px $purple-hover;
        -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 3px $purple-hover;
      }

      &:hover,
      &:active {
        background: $purple-hover;
        color: $darker;
        border-color: $purple-hover;
      }
    }
}

/* Columns Manager */
@mixin colums-width-variants($prefix: '') {

    // 2 Columns layout variants
    &.#{$prefix}layout-23-13 > .advgb-column:nth-of-type(1) {
        flex-grow: 2;
    }

    &.#{$prefix}layout-13-23 > .advgb-column:nth-of-type(2) {
        flex-grow: 2;
    }

    &.#{$prefix}layout-14-34 > .advgb-column:nth-of-type(2) {
        flex-grow: 3;
    }

    &.#{$prefix}layout-34-14 > .advgb-column:nth-of-type(1) {
        flex-grow: 3;
    }

    &.#{$prefix}layout-15-45 > .advgb-column:nth-of-type(2) {
        flex-grow: 4;
    }

    &.#{$prefix}layout-45-15 > .advgb-column:nth-of-type(1) {
        flex-grow: 4;
    }

    // 3 Columns layout variants
    &.#{$prefix}layout-12-14-14 > .advgb-column:nth-of-type(1) {
        flex-grow: 2;
    }

    &.#{$prefix}layout-14-14-12 > .advgb-column:nth-of-type(3) {
        flex-grow: 2;
    }

    &.#{$prefix}layout-14-12-14 > .advgb-column:nth-of-type(2) {
        flex-grow: 2;
    }

    &.#{$prefix}layout-15-35-15 > .advgb-column:nth-of-type(2) {
        flex-grow: 3;
    }

    &.#{$prefix}layout-35-15-15 > .advgb-column:nth-of-type(1) {
        flex-grow: 3;
    }

    &.#{$prefix}layout-15-15-35 > .advgb-column:nth-of-type(3) {
        flex-grow: 3;
    }

    &.#{$prefix}layout-16-46-16 > .advgb-column:nth-of-type(2) {
        flex-grow: 4;
    }

    // 3 Columns extra layout variants
    &.#{$prefix}layout-1-12-12 {
        flex-wrap: wrap;

        > .advgb-column {

            &:nth-of-type(1) {
                width: 100%;
                flex-basis: unset !important;
            }

            &:nth-of-type(2) {
                flex-grow: 1;
                margin-left: 0;
            }

            &:nth-of-type(3) {
                flex-grow: 1;
            }
        }
    }

    &.#{$prefix}layout-12-12-1 {
        flex-wrap: wrap;

        > .advgb-column {

            &:nth-of-type(1) {
                margin-left: 0;
                flex-grow: 1;
            }

            &:nth-of-type(2) {
                flex-grow: 1;
            }

            &:nth-of-type(3) {
                width: 100%;
                flex-basis: unset !important;
                margin-left: 0;
            }
        }
    }

    // 4 Columns layout variants
    &.#{$prefix}layout-36-16-16-16 > .advgb-column:nth-of-type(1) {
        flex-grow: 3;
    }

    &.#{$prefix}layout-16-16-16-36 > .advgb-column:nth-of-type(4) {
        flex-grow: 3;
    }

    &.#{$prefix}layout-15-15-15-25 > .advgb-column:nth-of-type(4) {
        flex-grow: 2;
    }

    &.#{$prefix}layout-25-15-15-15 > .advgb-column:nth-of-type(1) {
        flex-grow: 2;
    }

    // 4 and 6 Columns extra layout variants
    &.#{$prefix}layout-12x4,
    &.#{$prefix}layout-12x6 {
        flex: 1;
        flex-direction: row;
        flex-wrap: wrap;

        > .advgb-column {
            flex-basis: 50% !important;
            margin-left: unset !important;
        }
    }

    // 6 Columns extra layout variants
    &.#{$prefix}layout-13x6 {
        flex: 1;
        flex-direction: row;
        flex-wrap: wrap;

        > .advgb-column {
            flex-basis: 33.33% !important;
            margin-left: unset !important;
        }
    }

    // Stacked columns
    &.#{$prefix}layout-stacked {

        > .advgb-column {
            width: 100%;
            flex-basis: unset !important;
            margin-left: 0 !important;
        }
    }
}

/* Recent Posts - Newspaper view */
@mixin recent-posts-newspaper-2-columns($device: desktop, $right-posts: 3) {

  $border-color: #ddd;

  @if $device == desktop {

    &.layout-1-#{$right-posts} {

      .advgb-recent-posts {
        position: relative;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-gap: 40px;
        overflow: hidden;

        .advgb-recent-post {
          position: relative;
          z-index: 2;
          overflow: visible;

          .advgb-post-wrapper {

            .advgb-post-info {

              span {
                opacity: 0.6;
              }
            }
          }

          // Secondary posts
          &:nth-child(n+2) {
            grid-column: 2 / span 2;

            .advgb-post-wrapper {

              .advgb-post-title {
                font-size: 1.5em;
              }
            }

            &:not(.advgb-recent-post--no-image) {
              display: grid;
              grid-template-columns: 2fr 1fr;
              grid-gap: 20px;

              .advgb-post-wrapper {
                order: 1;
              }

              .advgb-post-thumbnail {
                order: 2;
              }
            }

            &:after {
              right: 0;
              left: 0;
              bottom: -20px;
              border-bottom: 1px solid $border-color;
              position: absolute;
              width: 100%;
              content: '';
            }
          }

          // Leading post
          &:nth-child(1) {
            grid-row: 1 / span #{$right-posts};

            &:after {
              right: -20px;
              top: 0;
              border-right: 1px solid $border-color;
              position: absolute;
              height: 100%;
              content: '';
            }
          }
        }
      }
    }

  } @else if $device == tablet {

    // Nothing to do here

  } @else if $device == mobile {

    &.layout-1-#{$right-posts} {

      .advgb-recent-posts {
        grid-template-columns: 1fr;

        .advgb-recent-post {

          // Secondary posts
          &:nth-child(n+2) {
            grid-column: unset;

            &:not(.advgb-recent-post--no-image) {
              grid-template-columns: 1fr;

              .advgb-post-wrapper {
                order: 2;
              }

              .advgb-post-thumbnail {
                order: 1;
              }
            }
          }

          // Leading post
          &:nth-child(1) {
            grid-row: unset;

            &:after {
              border-right: none;
              height: unset;
              top: unset;
              right: 0;
              left: 0;
              bottom: -20px;
              border-bottom: 1px solid $border-color;
              width: 100%;
            }
          }
        }
      }
    }

  } else {
    // Nothing to do here
  }
}
