.advgb-device-control--desktop,
.advgb-device-control--tablet,
.advgb-device-control--mobile {
  display: none !important;
}

@media ( min-width: 992px ) {
  .advgb-device-control--desktop {
    display: inherit !important;
  }
}

@media ( min-width: 768px ) and ( max-width: 991px ) {
  .advgb-device-control--tablet {
    display: inherit !important;
  }
}

@media ( max-width: 767px ) {
  .advgb-device-control--mobile {
    display: inherit !important;
  }
}
