# Docker container name
CONTAINER_NAME="publishpress-blocks"

# Docker image name
TERMINAL_IMAGE_NAME="publishpress/dev-workspace-terminal:publishpress-blocks"

# Path to the cache directory for the dev-workspace
CACHE_PATH="./.cache"

# The slug of the plugin to be tested.
PLUGIN_SLUG="publishpress-blocks"

# The domain of the plugin to be tested.
LANG_DOMAIN="publishpress-blocks"

# The directory of the language files.
LANG_DIR="languages"

# Supported locales for translations (space-separated)
LANG_LOCALES="de_DE es_ES fi fil fr_FR id_ID it_IT ja ko_KR nl_NL pt_BR ru_RU yo"
