.advgb-image-block {
    position: relative;
    display: flex;
    background-color: #CCCCCC;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    background-size: cover;
    margin: 0 auto;
    padding: 15px;
}

.advgb-image-block.full-width {
    width: 100% !important;
}

.advgb-image-block * {
    transition: all 0.4s ease-in-out !important;
}

.advgb-image-block .button {
    z-index: 3;
}

.advgb-image-overlay {
    opacity: 0;
    background-color: #2196F3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.advgb-image-title, .advgb-image-subtitle {
    z-index: 3;
    margin: 0;
    padding: 0;
}

.advgb-image-subtitle {
    opacity: 0;
}

.advgb-image-block:hover .advgb-image-subtitle {
    opacity: 1;
}

.advgb-image-block:hover .advgb-image-overlay {
    opacity: 0.5;
}
