.gutenberg #editor .editor-block-list__block[data-align=center] ul.advgb-toc {
    width: fit-content;
    margin: auto;
    text-align: initial;
}

.gutenberg #editor ul.advgb-toc, ul.advgb-toc {
    list-style: none !important;
    margin-bottom: 20px;
    padding: 0;
}

.gutenberg #editor ul.advgb-toc, ul.advgb-toc:not(.aligncenter):not(.alignleft):not(.alignright) {
    margin: 0;
}

.advgb-toc li {
    min-height: 20px;
}

.advgb-toc li a {
    text-decoration: none;
    box-shadow: none;
}

.wp-block-advgb-summary.aligncenter {
    width: fit-content;
}

.advgb-toc-header {
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 5px;
}

.advgb-toc-header:after {
    font-family: 'dashicons';
    content: '\f142';
    font-size: 16px;
}

.advgb-toc-header.collapsed:after {
    content: '\f140'
}

.wp-block-advgb-summary.alignleft {
    margin-right: 10px;
}

.wp-block-advgb-summary.alignright {
    margin-left: 10px;
}