@import "mixins";

.wp-block-advgb-columns {

    &.advgb-columns-wrapper {

        .advgb-columns-container {

            .advgb-columns {
                display: flex;
                margin: 0 auto;

                &.columns-valign-full .advgb-column-inner {
                  height: 100%;
                }

                .advgb-column {
                   flex-basis: 0;
                   z-index: unset;
                }

                // Spacing between columns
                &.gutter-10 > .advgb-column:not(:first-child) {
                    margin-left: 10px;
                }

                &.gutter-20 > .advgb-column:not(:first-child) {
                    margin-left: 20px;
                }

                &.gutter-30 > .advgb-column:not(:first-child) {
                    margin-left: 30px;
                }

                &.gutter-40 > .advgb-column:not(:first-child) {
                    margin-left: 40px;
                }

                &.gutter-50 > .advgb-column:not(:first-child) {
                    margin-left: 50px;
                }

                &.gutter-70 > .advgb-column:not(:first-child) {
                    margin-left: 70px;
                }

                &.gutter-90 > .advgb-column:not(:first-child) {
                    margin-left: 90px;
                }

                // Columns
                &.advgb-columns-1,
                &.advgb-columns-2,
                &.advgb-columns-3,
                &.advgb-columns-4,
                &.advgb-columns-5,
                &.advgb-columns-6 {

                    > .advgb-column {
                        flex-grow: 1;
                        min-width: 0;
                    }
                }

                // Desktop
                @media (min-width: 1024px) {

                    @include colums-width-variants();
                }

                @media (max-width: 1023px) {

                  // Mobile
                  &.mbl-layout-stacked > .advgb-column {
                      margin-right: 0 !important;
                  }

                  // Tablet
                  &.tbl-layout-stacked {

                    &.vgutter-10 > .advgb-column {
                        margin-bottom: 10px;
                    }

                    &.vgutter-20 > .advgb-column {
                        margin-bottom: 20px;
                    }

                    &.vgutter-30 > .advgb-column {
                        margin-bottom: 30px;
                    }

                    &.vgutter-40 > .advgb-column {
                        margin-bottom: 40px;
                    }

                    &.vgutter-50 > .advgb-column {
                        margin-bottom: 50px;
                    }

                    &.vgutter-70 > .advgb-column {
                        margin-bottom: 70px;
                    }

                    &.vgutter-90 > .advgb-column {
                        margin-bottom: 90px;
                    }
                  }
                }

                // Tablet
                @media (min-width: 768px) and (max-width: 1023px) {
                    @include colums-width-variants('tbl-');
                }

                // Mobile
                @media (max-width: 767px) {

                    @include colums-width-variants('mbl-');

                    // Collapsed Order RTL
                    &.order-rtl {
                       flex-wrap: wrap-reverse;
                       -moz-flex-wrap: wrap-reverse;
                    }

                    &.mbl-layout-stacked {

                        &.vgutter-10 > .advgb-column {
                          margin-bottom: 10px;
                        }

                        &.vgutter-20 > .advgb-column {
                          margin-bottom: 20px;
                        }

                        &.vgutter-30 > .advgb-column {
                          margin-bottom: 30px;
                        }

                        &.vgutter-40 > .advgb-column {
                          margin-bottom: 40px;
                        }

                        &.vgutter-50 > .advgb-column {
                          margin-bottom: 50px;
                        }

                        &.vgutter-70 > .advgb-column {
                          margin-bottom: 70px;
                        }

                        &.vgutter-90 > .advgb-column {
                          margin-bottom: 90px;
                        }
                    }
                }
            }
        }
    }
}
