// Editor
// @TODO - Split the CSS for Customizing > Widgets and "Show more settings"
// due some CSS is in use in one case and other portion of CSS in the other
#site-editor,
#widgets-editor,
#editor,
.customize-control-sidebar_block_editor, // Customizing > Widgets
.customize-widgets-layout__inspector { // "Show more settings"

  .advgb-tabs-block,
  .advgb-tabs-wrapper {
    padding: 25px 0 15px;

    .advgb-tab p.mce-content-body,
    .advgb-tab-body p.mce-content-body {
        color: inherit;
    }
  }

  .advgb-child-range,
  .advgb-child-text,
  .advgb-child-select,
  .advgb-child-toggle,
  .advgb-child-advcolor {
    margin-left: 47px;
  }

  .advgb-child-text,
  .advgb-child-select {
    max-width: 200px;
  }

  .advgb-custom-styles-wrapper {
    padding-top: 16px;
    border-top: 1px solid #e0e0e0;

    .components-flex,
    .components-base-control__help  {
      padding: 0 16px;
    }
  }

  .advgb-notice-sidebar {
    margin: 10px 0 30px;

    &.is-info {
      background: #e8f5f9;
    }
  }

  // Hide inserter for Adv Tab item to avoid inserting tabs inside tabs
  .advgb-tab-body-wrapper .block-editor-inner-blocks .block-list-appender {
    display: none !important;
  }

  // Remove margin-bottom from SelectControl
  .advgb-revert-mb > .components-base-control {
    margin-bottom: 0;
  }

  // Spacer
  .advgb-hr-separator {
    width: 95%;
  }

  // Make checkboxes inline each other with labels below
  .advgb-checkbox-wrapper {
    margin-bottom: 10px;

    label {
      margin-bottom: 8px;
      display: block;
    }
  }

  .advgb-checkbox-inline {

    .components-checkbox-control {
      display: inline-block;
      margin-right: 12px;
      margin-bottom: 0;

      .components-base-control__field .components-flex {
        flex-direction: column;

        .components-checkbox-control__input-container {
          margin-right: 0;
        }

        .components-checkbox-control__label {
          margin: 0 auto;
          margin-bottom: 0;
        }
      }
    }
  }

  // Custom time picker
  .advgb-advtime-control {
    display: inline-flex;
    margin-bottom: 10px;

    label {
      line-height: 36px;
      width: 45px;
    }

    // Hours & minutes
    .advgb-advtime-hours-minutes {
      border-radius: 2px;
      border: 1px solid #757575;
      width: 82px;
      height: 36px;
      margin-right: 8px;

      input {
        appearance: textfield;
        width: 36px;
        font-size: 13px;
        box-sizing: border-box;
        border: none;
        border-radius: 0;
        line-height: 34px;

        &:first-of-type {
          padding-left: 8px;
          text-align: right;
        }

        &:last-of-type {
          padding-right: 8px;
          text-align: left;
        }
      }
    }

    // AM/PM
    .advgb-advtime-meridian {
      margin-right: 8px;

      button.components-button {
        padding-left: 8px;
        padding-right: 8px;
      }
    }

    // Clear time
    .advgb-advtime-remove-icon {
      min-width: 27px;
      padding: 0;
    }
  }

  // List view icon color contrast when selected
  tr.block-editor-list-view-leaf.is-selected {

    td[aria-label*="PublishPress"] .components-button svg {
      fill: #fff !important;
    }
  }
}

body:not(.advgb-editor-width-default) {

  #editor div.block-editor-writing-flow,
  #editor .edit-post-visual-editor__post-title-wrapper .editor-post-title {
    max-width: 100%;
    width: 100%;
    margin: 0;
  }

  #editor .edit-post-visual-editor__post-title-wrapper .editor-post-title {
    margin-bottom: 20px !important;
  }
}

body.advgb-editor-width-large:not(.advgb-editor-width-default) #editor {

  .edit-post-visual-editor__post-title-wrapper > .wp-block,
  .block-editor-writing-flow > .block-editor-block-list__layout > .wp-block {
      max-width: 75%;
      width: 75%;
      margin-left: auto;
      margin-right: auto;
  }
}

body.advgb-editor-width-full:not(.advgb-editor-width-default) #editor {

  .edit-post-visual-editor__post-title-wrapper > .wp-block,
  .block-editor-writing-flow > .block-editor-block-list__layout > .wp-block {
      max-width: 95%;
      width: 95%;
      margin-left: auto;
      margin-right: auto;
  }
}

.advgb-editor-col-guide-disable .advgb-columns > .block-editor-inner-blocks > .block-editor-block-list__layout>.wp-block:not(.is-selected) >.advgb-column {
    border-style: none;
    border-color: transparent;
}

.advgb-editor-col-guide-enable .advgb-columns > .block-editor-inner-blocks > .block-editor-block-list__layout > .wp-block:not(.is-selected) {
    border: 1px dashed #999;
}

.advgb-editor-sidebar-content .advgb-editor-sidebar-note {
    font-size: 13px;
    font-style: italic;
    margin: 10px;
}

/* Widgets Customizer */
.customize-control-sidebar_block_editor .block-editor-writing-flow {

  .advgb-lores-form-wrapper,
  .advgb-search-bar-inner {
    width: 100% !important;
  }
}

/* Custom UI */
.components-button.is-style-selected {
  box-shadow: 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
  outline: 3px solid transparent;
}

/* Recent posts */
.advgb-recent-posts-block.slider-view.style-headline .advgb-recent-posts .advgb-recent-post .advgb-post-wrapper {
  box-sizing: border-box;
}

/* List */
ul.wp-block-advgb-list .block-editor-block-list__layout > div {
  margin: 0;
}

/* AdvCalendarControl */
.advgb-advcalendar-control {

  label {
    margin-bottom: 8px;
    display: block;
  }

  > div {
    border: 1px solid #888;
    border-radius: 3px;
    margin-bottom: 10px;

    button {

      &:focus {
        box-shadow: none !important;
        outline: none !important;
      }

      &.is-link {
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
          text-decoration: none;
        }
      }

      &.advgb-advcalendar-remove-icon {
        padding: 0;
        height: 32px;
        position: absolute;
        right: 12px;
      }
    }
  }
}

.advgb-advcalendar-popover {

  &-label {
    padding: 16px 16px 0;
    font-weight: bold;
  }

  &-timezone {
    padding: 6px 16px 0;
    color: #777;
  }

  button {

    &:focus {
      box-shadow: none !important;
      outline: none !important;
    }

    &.advgb-advcalendar-remove-icon {
      float: right;
      padding: 0;
      height: 32px;
    }
  }

  .components-popover__content > .components-datetime {
    padding: 16px;
    width: 100%;
  }
}

/* Custom toolbar */
.advgb-toolbar-btn {
  border: none;
  cursor: pointer;
  background: none;
  padding-left: 7px;
  padding-right: 7px;

  &:hover,
  &:focus,
  &:active {
    border: none;
    color: var(--wp--preset--color--vivid-cyan-blue);
  }

  button {
    font-size: 22px;
  }
}

.advgb-toolbar-popup {
  padding: 10px 10px 0;
  min-width: 280px;
}

.advgb-feature-icon-active span.dashicons {
  color: var(--wp--preset--color--vivid-cyan-blue);
}

/* Blocks controls */
.block-editor-block-list__layout .block-editor-block-list__block.advgb-bc-editor-preview {
  border: 1px dashed var(--wp--preset--color--vivid-cyan-blue);

  &:after {
    content: "\f177" !important;
    color: var(--wp--preset--color--vivid-cyan-blue) !important;
    font-family: dashicons !important;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    text-rendering: auto;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
    position: absolute;
    left: unset !important;
    right: 3px !important;
    top: 3px !important;
    background: rgba(255, 255, 255, 0.3) !important;
    height: 22px;
    width: 24px;
    text-align: center;
  }
}
