@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot');
    src:  url('fonts/icomoon.eot#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf') format('truetype'),
    url('fonts/icomoon.woff') format('woff'),
    url('fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="advgbicon-"], [class*=" advgbicon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    box-sizing: border-box;
    speak: none;
    font-size: 18px;
    padding: 0 2px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: inline-block;
    vertical-align: top;
    text-align: center;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.advgbicon-plus:before {
    content: "\e901";
}
.advgbicon-edit:before {
    content: "\e900";
}
.advgbicon-copy:before {
    content: "\e92c";
}
.advgbicon-quill:before {
    content: "\e907";
}
.advgbicon-printer:before {
    content: "\e954";
}
.advgbicon-database:before {
    content: "\e964";
}
.advgbicon-binoculars:before {
    content: "\e985";
}
.advgbicon-trash:before {
    content: "\e9ac";
}
.advgbicon-flag:before {
    content: "\e9cc";
}
.advgbicon-superscript:before {
    content: "\ea69";
}
.advgbicon-subscript:before {
    content: "\ea6a";
}
.advgbicon-pilcrow:before {
    content: "\ea73";
}
.advgbicon-ltr:before {
    content: "\ea74";
}
.advgbicon-rtl:before {
    content: "\ea75";
}