#advgb-main-wrapper {
    margin-left: -20px;
    font-family: 'Roboto', sans-serif;
}

#advgb-main-wrapper:after {
    content: '';
    display: block;
    clear: both;
}

#advgb-main-wrapper * {
    box-sizing: border-box;
}

/*Button styles*/
button.advgb-action-button {
    background-color: #fff;
    color: #000;
    border: 1px solid #9fabba;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: all ease 0.5s;
}

button.advgb-action-button > * {
    padding: 10px;
    min-width: 180px;
    display: inline-block;
}

button.advgb-action-button:focus {
    outline: none;
}

button.advgb-action-button a {
    color: #000;
    text-decoration: none;
}

button.advgb-action-button i {
    margin-right: 5px;
    font-size: 14px;
    height: 14px;
    vertical-align: text-top;
}

button.advgb-action-button:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

button.advgb-action-button.advgb-button-orange {
    background-color: #ff8726;
    color: #fff;
    border-color: #ff8726;
}

.advgb-rect-btn {
    background-color: #fff;
    border: 1px solid #ff8726;
    cursor: pointer;
    border-radius: 4px;
    color: #ff8726;
    padding: 10px 15px;
}

.orange-text {
    color: #ff8726 !important;
}

.inline-button-wrapper {
    float: right;
}

/*Checkbox style*/
.select-box input[type=checkbox]:checked {
    background-color: #49bf88;
    border: 1px solid #49bf88;
}

.select-box input[type=checkbox]:before {
    color: #fff;
}

/*Top navigation tabs styles*/
.tabs.advgb-top-tabs {
    width: fit-content !important;
}

.tabs.advgb-top-tabs .indicator {
    background-color: #ff8726;
}

.tabs.advgb-top-tabs li.tab {
    text-transform: capitalize;
    min-width: 200px;
}

.tabs.advgb-top-tabs li.tab a.link-tab {
    color: #ff8726;
}

.tabs.advgb-top-tabs li.tab a.link-tab.active:before {
    content: '\f147';
    font-family: 'dashicons';
    font-size: 20px;
    vertical-align: middle;
}

/*Left Panel styles*/
#advgb-left-panel {
    width: 300px;
    height: 100%;
    padding: 20px 0;
    background-image: linear-gradient(to bottom, #6465e2, #60c3ef);
    box-shadow: 10px 20px 20px 0 rgba(186, 192, 213, 0.1);
    position: fixed;
}

.advgb-logo a {
    display: block;
    width: 230px;
    height: 89px;
    margin: auto;
}

.advgb-menu-search {
    margin: 20px 10px;
    padding: 10px 5px;
    border-bottom: 1px solid #6294e9;
}

.advgb-menu-search i {
    font-size: 20px;
    color: #fff;
    vertical-align: text-bottom;
}

input.advgb-menu-search-input {
    background: transparent;
    color: #fff;
    border: none;
    box-shadow: none;
    padding: 5px;
    font-size: 18px;
}

input.advgb-menu-search-input::placeholder {
    color: #fff;
    opacity: 0.5;
}

.tabs.menu-tabs .indicator {
    display: none;
}

.tabs.menu-tabs {
    display: block;
    background-color: transparent;
    height: auto;
    margin: 20px 0;
}

.tabs.menu-tabs li.tab {
    float: none;
    width: auto;
    text-align: left;
    position: relative;
    height: auto;
    line-height: normal;
}

.tabs.menu-tabs li.tab a {
    padding: 20px;
    opacity: 0.7;
}

.tabs.menu-tabs li.tab a.active {
    opacity: 1;
}

.tabs.menu-tabs li.tab .menu-tab-icon {
    font-size: 22px;
    vertical-align: sub;
}

.tabs.menu-tabs li.tab .tab-title {
    font-size: 16px;
    margin-left: 5px;
}

.tabs.menu-tabs li.tab a:hover:before, .tabs.menu-tabs li.tab a.active:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    opacity: 0.12;
    pointer-events: none;
}

/*Right content styles*/
#advgb-right-panel {
    width: calc(100% - 300px);
    padding: 0 20px;
    font-size: 14px;
    margin-left: 300px;
}

#advgb-save-success {
    padding: 10px;
    margin: 20px 20px 20px 0;
    background-color: #ffffff;
    border-left: 5px solid #46b450;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);
    -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);
}

#advgb-save-close {
    float: right;
    color: #aaaaaa;
}

#advgb-save-close:hover {
    color: #c00;
    cursor: pointer;
}

.advgb-header {
    margin-bottom: 15px;
    padding: 10px 0;
}

.advgb-header .header-title {
    margin: 0;
    display: inline-block;
    padding: 10px 0;
    text-transform: capitalize;
}

/*Search input styles*/
.advgb-search-wrapper {
    margin: 25px auto;
    padding: 10px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
}

.advgb-search-wrapper.focused {
    border: 1px solid #ff8726;
}

.advgb-search-wrapper .advgb-search-input {
    display: inline-block;
    width: calc(100% - 30px);
    border: none;
}

.advgb-search-wrapper .advgb-search-input:focus {
    border: none;
    box-shadow: none;
}

input.advgb-input {
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #fff;
    height: auto;
}

input.advgb-input:focus {
    border-color: #ff8726;
    box-shadow: none;
}

input.advgb-input.minicolors {
    padding-left: 55px;
}

input.advgb-input.minicolors + .minicolors-swatch {
    height: 48px;
    width: 48px;
    top: 2px;
    left: 2px;
    border: none;
}

input.advgb-input.minicolors + .minicolors-swatch .minicolors-swatch-color {
    border-radius: 4px;
}

#advgb-main-wrapper .minicolors-grid .minicolors-picker,
#advgb-main-wrapper .minicolors-grid .minicolors-picker > div {
    box-sizing: content-box;
}