.inline-button-wrapper {
    float: right;
}

#wpwrap {
    background-color: #f3f6fa;
}

.advgb-header {
    margin-bottom: 15px;
    padding: 10px 0;
}

.advgb-header .header-title {
    margin: 0;
    margin-left: 10px;
    display: inline-block;
    padding: 10px 0;
    text-transform: capitalize;
}

.qtip.advgb_qtip {
    background: #000000;
    color: #ffffff;
    border: 1px solid #000000;
}

/*Search input styles*/
.advgb-search-wrapper {
    margin: 25px auto;
    padding: 10px;
    border: 2px solid #e1e1e1;
    border-radius: 4px;
    background-color: transparent;
}

.advgb-search-wrapper.focused {
    border: 2px solid #ff8726;
}

.advgb-search-wrapper .advgb-search-input {
    display: inline-block;
    width: calc(100% - 30px);
    border: none;
    box-shadow: none;
    background-color: inherit;
}

.advgb-search-wrapper .advgb-search-input:focus {
    border: none;
    box-shadow: none;
}

.advgb-search-wrapper > i {
    font-size: 22px;
    vertical-align: text-bottom;
}

.ju-button i {
    width: 18px;
    height: 18px;
    font-size: 18px;
    vertical-align: text-top;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

select.ju-select-options {
    padding: 15px;
    height: auto;
}