.inline-button-wrapper {
    float: right;
}

.advgb-header {
    margin-bottom: 15px;
    padding: 10px 0;
}

.advgb-header .header-title {
    margin: 0;
    display: inline-block;
    padding: 10px 0;
    text-transform: capitalize;
}

/*Search input styles*/
.advgb-search-wrapper {
    margin: 25px auto;
    padding: 10px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
}

.advgb-search-wrapper.focused {
    border: 1px solid #ff8726;
}

.advgb-search-wrapper .advgb-search-input {
    display: inline-block;
    width: calc(100% - 30px);
    border: none;
}

.advgb-search-wrapper .advgb-search-input:focus {
    border: none;
    box-shadow: none;
}
