#postbox-container-1 {
    display: none !important;
}

.tab-content {
    padding: 10px;
}

#update-list-btn i.rotating {
    animation: rotation 2s infinite linear;
    -moz-animation: rotation 2s infinite linear;
    -webkit-animation: rotation 2s infinite linear;
}

button[disabled] {
    opacity: 0.7;
}

/* Block list tab style */
.tab-content h3 {
    margin: 15px 0;
}

.tab-content .advgb-header {
    margin-top: 15px;
}

.profile-title .advgb-search-wrapper {
    margin-top: 10px;
    margin-bottom: 30px;
}

ul.blocks-list {
    margin: 10px;
}

ul.blocks-list li.block-item {
    float: left;
    margin-bottom: 5px;
    padding: 5px 10px;
    transition: background-color .5s ease-out;
    -moz-transition: background-color .5s ease-out;
    -webkit-transition: background-color .5s ease-out;
}

.block-title {
    margin-left: 3px;
}

.block-item input[type='checkbox'] {
    display: none;
}

.block-item input:not(:checked) + label {
    opacity: 0.5;
}

.block-item.new-block {
    background-color: #FF8855;
}

#block-update-notice {
    color: #444;
    padding: 10px;
    display: none;
}

.switch-label svg, .switch-label i {
    vertical-align: top;
}

/*Users tab*/
.advgb-users-search-box {
    margin: 10px 0;
}

#users-tab .advgb-users-search-box > * {
    vertical-align: middle;
}

.advgb-groups-block {
    margin: 10px;
}

/*Save setting button*/
.save-settings-block {
    margin-top: 20px;
}