.advgb-settings-header {
    margin: 40px auto;
}

.settings-list ul {
    padding-left: 40px;
}

.ju-settings-option .ju-setting-label + * {
    float: right;
    margin-right: 30px;
}

.settings-option-wrapper {
    padding: 5px 10px;
}

#gallery_lightbox_caption_wrapper .slider {
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
}

.settings-option-wrapper .minicolors-theme-default {
    margin-left: 10px;
}

/*Save setting button*/
.save-settings-block {
    margin-top: 20px;
}

/*Style for CustomStyle tab*/
#customstyles-tab {
    background-color: #f9fafb;
}

#customstyles-tab > div {
    padding-top: 20px;
    padding-bottom: 20px;
}

#advgb-customstyles-list {
    padding: 0;
}

#advgb-customstyles-list a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.advgb-customstyles-list {
    margin-bottom: 20px;
}

.advgb-customstyles-items-class {
    cursor: pointer;
    margin: 0;
}

#advgb-customstyles-list li.advgb-customstyles-items {
    padding: 15px;
    margin: 0;
    border-left: 5px solid transparent;
}

#advgb-customstyles-list li.advgb-customstyles-items.active {
    border-left: 5px solid #6372e4;
    background-color: #fff;
}

#advgb-customstyles-list li:hover a, #advgb-customstyles-list li:hover ul {
    color: #08C;
}

#advgb-customstyles-list li.advgb-customstyles-items .title-icon {
    height: 20px;
    width: 20px;
    display: inline-block;
    border-radius:  50%;
    vertical-align: text-top;
    margin-right: 10px;
    background-color: #000;
}

#advgb-customstyles-list .advgb-customstyles-items-title {
    font-weight: bold;
}

#advgb-customstyles-list i {
    font-size: 20px;
}

#advgb-customstyles-list .active a, #advgb-customstyles-list .active ul {
    color: #08C;
}

.advgb-customstyles-items {
    margin-bottom: 3px;
}

.advgb-customstyles-items a.copy,
.advgb-customstyles-items a.trash,
.advgb-customstyles-items a.edit {
    display: none;
    float: right;
}

.advgb-customstyles-items a.copy:hover,
.advgb-customstyles-items a.trash:hover,
.advgb-customstyles-items a.edit:hover {
    color: #F98436 !important;
}

.advgb-customstyles-items:hover a.trash,
.advgb-customstyles-items:hover a.copy,
.advgb-customstyles-items:hover a.edit {
    display: inline;
}

.advgb-customstyles-new {
    font-weight: bold;
}

.advgb-customstyles-new i {
    vertical-align: text-bottom;
    margin-right: 5px;
}

#savedInfo {
    color: blue;
}

#advgb-customstyles-info {
    background-color: #fff;
    padding: 20px;
}

#advgb-customstyles-info label {
    display: block;
    font-size: 16px;
    margin: 10px 0;
}

#advgb-customstyles-info input:not(.minicolors-input),
#advgb-customstyles-info textarea {
    width: 100%;
}

#advgb-customstyles-info .control-group {
    margin-bottom: 30px;
}

#advgb-customstyles-info .control-group label {
    margin-bottom: 15px;
    color: #5c8599;
}

#advgb-customstyles-css {
    resize: none;
}

.advgb-customstyles-css .CodeMirror {
    height: 200px;
    border: 1px solid #ccc;
}

.CodeMirror.CodeMirror-focused {
    border: 1px solid #ff8726;
}

.minicolors-input {
    height: auto !important;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    min-width: 100px;
    font-size: 15px;
}

#identify-colors {
    padding: 0 30px;
}

.preview-title {
    font-weight: bold;
    font-size: 18px;
}