.tab-content {
    background: #ffffff;
    padding: 10px;
}

.no-display {
    display: none;
}

.hidden-item {
    visibility: hidden;
}

#gbadv-config-success {
    padding: 10px;
    margin: 20px 20px 20px 0;
    background-color: #ffffff;
    border-left: 5px solid #46b450;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);
    -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);
}

#gbadv-config-close {
    float: right;
    color: #aaaaaa;
}

#gbadv-config-close:hover {
    color: #c00;
    cursor: pointer;
}

.settings-list ul {
    padding-left: 40px;
}

.settings-option .switch-label {
    min-width: 200px;
    overflow: inherit;
}

.settings-option-wrapper {
    padding: 5px 10px;
}

#gallery_lightbox_caption_wrapper .slider {
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
}

.qtip.gbadv_qtip {
    background: #000000;
    color: #ffffff;
    border: 1px solid #000000;
}

/*Save setting button*/
.save-settings-block {
    margin-top: 20px;
}