.tab-content {
    background: #ffffff;
    padding: 10px;
}

.no-display {
    display: none;
}

.hidden-item {
    visibility: hidden;
}

#advgb-config-success {
    padding: 10px;
    margin: 20px 20px 20px 0;
    background-color: #ffffff;
    border-left: 5px solid #46b450;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);
    -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);
}

#advgb-config-close {
    float: right;
    color: #aaaaaa;
}

#advgb-config-close:hover {
    color: #c00;
    cursor: pointer;
}

.settings-list ul {
    padding-left: 40px;
}

.settings-option .switch-label {
    min-width: 200px;
    overflow: inherit;
}

.settings-option-wrapper {
    padding: 5px 10px;
}

#gallery_lightbox_caption_wrapper .slider {
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
}

.qtip.advgb_qtip {
    background: #000000;
    color: #ffffff;
    border: 1px solid #000000;
}

/*Save setting button*/
.save-settings-block {
    margin-top: 20px;
}

/*Style for CustomStyle tab*/
#advgb-customstyles-list {
    padding: 0;
}
#advgb-customstyles-list a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
.advgb-customstyles-list {
    margin-bottom: 20px;
}
.advgb-customstyles-items-class {
    cursor: pointer;
    margin: 0;
}
#advgb-customstyles-list li:hover a, #advgb-customstyles-list li:hover ul {
    color: #08C;
}
#advgb-customstyles-list i {
    font-size: 13px;
}
#advgb-customstyles-list .active a, #advgb-customstyles-list .active ul {
    color: #08C;
}
.advgb-customstyles-items {
    margin-bottom: 3px;
}
.advgb-customstyles-items a.copy,
.advgb-customstyles-items a.trash {
    display: none;
    float: right;
}
.advgb-customstyles-items a.copy:hover,
.advgb-customstyles-items a.trash:hover {
    color: red !important;
}
.advgb-customstyles-items:hover a.trash,
.advgb-customstyles-items:hover a.copy {
    display: inline;
}
#savedInfo {
    color: blue;
}
#advgb-customstyles-info label {
    display: block;
    font-size: 16px;
}
#advgb-customstyles-info input {
    border: 1px solid #ddd !important;
    padding: 5px;
    background: #fff !important;
}
#advgb-customstyles-info input:focus {
    border: 1px solid #5b9dd9 !important;
    box-shadow: 0 0 2px rgba(30,140,190,.8) !important;
    -moz-box-shadow: 0 0 2px rgba(30,140,190,.8) !important;
    -webkit-box-shadow: 0 0 2px rgba(30,140,190,.8) !important;
}
#advgb-customstyles-info input,
#advgb-customstyles-info textarea {
    width: 100%;
}
#advgb-customstyles-title {
    border: 1px solid black;
}
#advgb-customstyles-css {
    resize: none;
}
.advgb-customstyles-css .CodeMirror {
    height: 200px;
    border: 1px solid #ccc;
}