.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

/*button switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 28px;
    margin: 0;
}

.switch input {
    display:none;
}

.switch-btn {
    float: left;
    margin-left: 10px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch-label {
    float: left;
    width: 140px;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin: 0;
    vertical-align: text-top;
}

.switch input:checked + .slider {
    background-color: #5dca70;
}

.switch input:focus + .slider {
    box-shadow: 0 0 1px #5dca70;
}

.switch input:checked + .slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*Material style buttons*/
.material-btn {
    border: none;
    outline: none;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
}

.material-btn:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}