#editor .advgb-col-3 {
    float: left;
    width: 33%;
    padding: 10px;
    text-align: center;
}

.advgb-count-up {
    margin: 10px auto;
}

.advgb-count-up > div {
    flex: auto;
    margin: 0 10px;
}

.advgb-counter {
    line-height: normal;
}

.advgb-column-1 .advgb-count-up-columns-two, .advgb-column-1 .advgb-count-up-columns-three {
    display: none;
}

.advgb-column-2 .advgb-count-up-columns-three {
    display: none;
}